<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect all requests to index.html except existing files and directories
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

# CORS and MIME Type handling (optional, if you face issues with fonts or JS)
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>

# Gzip compression (optional, improve performance)
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/javascript
</IfModule>
